<div style="margin-top: 5%;">
<div class="page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div class="col-md-4">
                <input type="number" class="form-control" #number1>
            </div> 
            <div class="col-md-4">
                <input type="number" class="form-control" #number2>
            </div>
        </div>
        <div class="col-md-2">
            <h1 *ngIf="resultado !== undefined">= {{resultado}}</h1>
        </div>
    </div>
    <!-- <app-suma (action)="suma()"></app-suma> -->
    <app-button-action (action)="suma()" [textoBoton]="'Sumar'"></app-button-action>
    <app-button-action (action)="multiplicacion()" [textoBoton]="'Multiplicar'" [class]="'btn btn-danger'"></app-button-action>
    <app-button-action (action)="restar()" [textoBoton]="'Restar'" [class]="'btn btn-info'"></app-button-action>

    <app-grid [operaciones]="operaciones"></app-grid>
</div>
</div>
